@model AdventureBarn.Contracts.Models.Address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Address</h4>
	<hr />
	@Html.Partial("DetailsData", Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
